* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font: "poppins " sans-serif;
  
}

h1{
  text-align: center;
  font-size: 50px;
  font-weight: 600;
  font-family: fantasy;
  font-style: italic;
  color:aqua;
  position: relative;
    
}
body {
  height: 100vh;
  background-color: black;
  background-image: url(./assets/images/spiderbg.jpg);
  background-position: fill;
  background-repeat: no-repeat;
  background-size:cover;
  color:white;
  position: relative;
  transition: 300ms;
  opacity: 1;
}
.multiText{
  font-size: 80px;
  font-style: italic;
  font-family: fantasy;
  color:white;
  text-align: center;
  text-transform: capitalize;

}

.container {
  font-size: 16px;
  width: 98vw;
  max-width: 37.5em;
  padding: 3em 1.8em;
  background-color: rgb(43, 41, 41);
  position: absolute;
  transform: translate(-50%, 50%);
  top: 50%;
  left: 50%;
  border-radius: 0.6em;
  box-shadow: 1.2em 2em 3em rgb(162, 161, 161);
}

.search-container {
  display: grid;
  height: 40px;
  grid-template-columns: 9fr 3fr;
  gap: 1.2em;
  position: relative;
}

.search-container input,
.search-container button {
 font-size: 0.9em;
 outline: none;
 border-radius: 0.3em;
}

.search-container input{
  background-color: rgb(255, 255, 255,0.2);
  border: 2px solid gray;
  width: 100%;
  padding: 0.7em;
  color: grey;
  
}


.search-container input:focus{
  border-color: grey;
    
}

.search-container button{
  background-color: rgb(255, 255, 255,0.2);
  border: 2px solid gray;
  cursor: pointer;
}
/* form{
  width: 100%;
}
.history{
  position: absolute;
  height: 400px;
  top: 38px;
  width: 72%;
  background-color: rgb(255, 255, 255,0.2);
 margin-top: 1%;
 display: none;
 border: 1px solid grey;
 padding: 10px;
}
.search-container:focus-within  .history{
  display: block;
}
.history h5 {
 font-size: 15px;
 font-style: italic;
 color: rgb(189, 183, 183);
 margin: 0%;
}
.historyItems{
  padding-right:10px ;
  align-items: center;
  
} */
#result{
  color:aqua;
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  position: relative;
   
}
.info {
 position:relative;
 display:flex;
 grid-template-columns: 4fr 8fr;
 align-items: center;
 margin-top: 1.2em;
}
.Poster {
  width: 40%;
  border-radius: 5px 5px 5px 5px;
  padding: 8px;
   
}
.h2{
 text-align: center;
 font-size: 0.55em;
 text-align: center;
 letter-spacing: 0.06em;
 font-weight: 600;
 color:whitesmoke;
}


.details {
  font-size: 0.95em;
  gap: 1em;
  justify-content: center;
  

  margin: 0.6em 0;
  font-weight: 600;
}
.genre {
  display: flex;
  justify-content: space-between; 
  padding: 5px;
}
.genre div {
  border: 5px solid aqua;
  font-size: 0.75em;
  padding: 0.4rem 1.6rem;
  border-radius: 0.4em;
  font-weight: 300;
}

h3 {
  font-style: normal;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: 500;
  margin-top: 1.2em;
  color: aqua;
}
p {
  font-size: 0.9em;
  font-weight: 300;
  line-height: 1.8em;
  text-align: justify;
  color: grey;

}
/* .rating{
 display: flex;
}

.zero .rating::before {
  content: "N/A";
}

.pos .rating::before {
  content: "🍅";
}

.neg .rating::before {
  content: "🍅";
  filter: hue-rotate(3.142rad);
}

.neg .rating.below,
.pos .rating.above,
.zero .rating:not(.exact) {
  opacity: 0.1;
}

.pos .rating.below,
.neg .rating.above,
.exact {
  opacity: 1;
}

.rating {
  display: flex;
  flex-direction: row;
}

.neg,
.zero,
.pos {
  display: flex;
}  */

.msg {
  text-align:left;
  color:aqua;
  font-weight: 400;
}
@media screen and (max-width: 600px) {
  .container {
    font-size: 14px;
  }
  .info {
    grid-template-columns: 1fr;
  }
  .poster {
   margin: auto;
    width: auto;
    max-height: 10.8em;
  }
}
